@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: rgb(11, 11, 11);
}

[data-theme='dark'] {
  --background: rgb(0, 0, 0);
  --foreground: white;
}
